html,span{
    font-family: 'Josefin Sans', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#section1,#section2,#section3{

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }


  .color_2 {
	-webkit-animation: color_2 2s linear infinite alternate both;
	        animation: color_2 2s linear infinite alternate both;
}

 @-webkit-keyframes color_2 {
    0% {
      background: #19ea69;
    }
    100% {
      background: #f88d8d;
    }
  }
  @keyframes color_2 {
    0% {
      background: #f88d8d;
    }
    100% {
      background: #19ea69;
    }
  }
  

  .color_3 {
	-webkit-animation: color_3 2s linear infinite alternate both;
	        animation: color_3 2s linear infinite alternate both;
}

 @-webkit-keyframes color_3 {
    0% {
      background: #f47fa0;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color_3 {
    0% {
      background: #f47fa0;
    }
    100% {
      background: #b22cff;
    }
  }

  ::-webkit-scrollbar {
    width: 1px;
  }

  .contain{

    height: 90%;
    width: 95%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }


  /*intro*/

 
.bounce {
    font-size: 5rem;
    width: 100%;
    margin: 3rem auto;
    display: inline-flex;
    justify-content: center;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}
.bounce {
  span{
    display: inline-flex;
    background: -webkit-linear-gradient(#bb00ff,#724bf3, #470dcf);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bounce 1s infinite;
    padding: 4px 4px;
    transform: rotate(30deg);
    font-size: 10rem !important;
  }
}
@media only screen and (max-width: 950px){
  .bounce{
    span{
      font-size: 5rem !important;
    }
  }
}

@media only screen and (max-width: 520px){
  .bounce{
    span{
      font-size: 3rem !important;
      font-weight: 800;
    }
  }
}

@keyframes bounce {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
}
.ten span:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
    animation-delay: 0.7s;
}
.ten span:nth-of-type(7) {
  animation-delay: 0.8s;
}

/* loader */

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
   background: #2c3e50 ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index:99; /* makes sure it stays on top */
  display: flex;
  justify-content: center;
  align-items: center;
}


.box{
  
}
.loader {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  width: 200px;
  height: 200px;
  border: 4px solid #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.loader::after {
  border-color: #19dcea;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 